Django==1.9
Markdown==2.6.6
Pillow==3.2.0
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
awscli==1.10.17
billiard==3.3.0.23
boto3==1.3.0
botocore==1.4.8
celery==3.1.23
colorama==0.3.7
django-admin-bootstrapped==2.5.7
django-celery==3.1.17
django-ckeditor==5.0.3
django-debug-toolbar==1.4
django-evolution==0.7.6
django-filter==0.13.0
django-jet==0.1.4
django-pgjson==0.3.1
django-simple-history==1.8.1
djangorestframework==3.3.3
docutils==0.12
functools32==3.2.3-2
futures==3.0.5
gunicorn==19.4.5
jmespath==0.9.0
jsonschema==2.5.1
kombu==3.0.35
psycopg2==2.6.1
pyasn1==0.1.9
python-dateutil==2.5.2
pytz==2016.3
redis==2.10.5
requests==2.9.1
rsa==3.4.2
s3transfer==0.0.1
simplejson==3.8.2
six==1.10.0
sqlparse==0.1.19
validictory==1.0.1
wsgiref==0.1.2
