django==1.8
djangorestframework==3.1
markdown==2.6.2
django-filter==0.10.0
django-debug-toolbar==1.3.2

# sudo apt-get install pgadmin3 for GUI and time of migration run first migrate auth python manage.py migrate auth then python manage.py syncdb
#sudo apt-get install python-pip python-dev libpq-dev postgresql postgresql-contrib
# sudo /home/sazid/.virtualenvsohmgear/bin/pip install psycopg2 
psycopg2==2.6.1 
django-pgjson==0.3.1
django-celery==3.1.16
celery==3.1.18
redis==2.10.3
